---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - daemonsets
  - deployments
  - statefulsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - flwr.exalsius.ai
  resources:
  - federations
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - flwr.exalsius.ai
  resources:
  - federations/finalizers
  verbs:
  - update
- apiGroups:
  - flwr.exalsius.ai
  resources:
  - federations/status
  verbs:
  - get
  - patch
  - update
